<div class="page-header">
	<h1 id="headings">Headings</h1>
</div>


<h1>Heavy</h1>
<p>A heading that uses the heavier, serif font family. Ideal for the lead item on the page, such as a story headline.</p>

<h1 class="heading-heavy">Anglicans vow to vote again on allowing women bishops</h1>
<h1 class="heading-heavy"><a href="#">Do atheists need their own 'church'? Sunday Assembly prompts controversy</a></h1>
<h1 class="heading-heavy">PHOTO: Historic Thanksgivukkah</h1>

{% highlight html %}
<h1 class="heading-heavy">Headline here...</h1>
{% endhighlight %}


<h1>Standard</h1>
<p>A heading for general use, such as in media objects.</p>

<h1 class="heading-standard">Billy Graham &#8212; Kept the Faith, Dropped the Politics</h1>
<h1 class="heading-standard"><a href="#">How C.S. Lewis's letters to Kathy Keller as a child formed her adult faith (linked)</a></h1>
<h1 class="heading-standard">Congress pushes for release of American pastor imprisoned in Iran</h1>

{% highlight html %}
<h1 class="heading-standard">Headline here...</h1>
{% endhighlight %}


<h1>Small</h1>
<p>A heading good for stories in a list or as a subheading to a <code>standard</code> heading</p>

<h1 class="heading-small">En route to Southeby's, Bay Psalm Book traces nation's seesaw religious history</h1>
<h1 class="heading-small"><a href="#">BREAKING: Methodist Church gives pastor 30 days to desist or give up credentials (linked)</a></h1>
<h1 class="heading-small">Survey: Same-sex couples create own rules in wedding planning</h1>

{% highlight html %}
<h1 class="heading-small">Headline here...</h1>
{% endhighlight %}

<h3>Listing small</h3>
<p>Small headings come with a uppercase variant for use as a heading to a list (as opposed to a list of small headings)</p>

<h1 class="heading-small heading-small-list">Content</h1>
<h1 class="heading-small heading-small-list"><a href="#">Voices on RNS (linked)</a></h1>
<h1 class="heading-small heading-small-list">Regional Hubs</h1>

{% highlight html %}
<h1 class="heading-small heading-small-list">Headline here...</h1>
{% endhighlight %}


<h1>Kicker</h1>
<p>A heading for denoting a new section of content, such as between groups of stories</p>

<h1 class="heading-kicker">Headlines</h1>
<h1 class="heading-kicker"><a href="#">Religion & Ethics Newsweekly video: Hispanic Protestants (linked)</a></h1>
<h1 class="heading-kicker">Advertisement</h1>

{% highlight html %}
<h1 class="heading-kicker">Headline here...</h1>
{% endhighlight %}

<h3>Small kicker</h3>
<p>Kickers come in a small variant for use in secondary content</p>

<h1 class="heading-kicker heading-kicker-small">Headlines</h1>
<h1 class="heading-kicker heading-kicker-small"><a href="#">Religion & Ethics Newsweekly video: Hispanic Protestants (linked)</a></h1>
<h1 class="heading-kicker heading-kicker-small">Advertisement</h1>

{% highlight html %}
<h1 class="heading-kicker heading-kicker-small">Headline here...</h1>
{% endhighlight %}


<h1>Eyebrow</h1>
<p>A small heading that introduces content, such as a source blog</p>

<div class="alert alert-info">Eyebrows always use <code>@brand-info</code> for the color, including linked versions</div>

<h1 class="heading-eyebrow">Mark Silk – Spiritual Politics</h1>
<h1 class="heading-eyebrow"><a href="#">David Gibson – Sacred and Profane (linked)</a></h1>
<h1 class="heading-eyebrow">Culture</h1>

{% highlight html %}
<h4 class="heading-eyebrow">Headline here...</h4>
{% endhighlight %}
